@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Inter';
}
@layer utilities {
    .green-bg{
    background: linear-gradient(124deg, #00524D 0%, rgba(106, 188, 165, 0.85) 46%, rgba(106, 188, 165, 0) 100%);
    }
    .resources-bg{
        background: linear-gradient(130deg, #00524D 8.47%, #6ABCA5 56.78%, #6ABCA5 100%);
    }

    .red-bg{
        background: linear-gradient(180deg, #FFD2C9 0%, #F0927F 100%);
    }

    .blue-bg{
        background: linear-gradient(180deg, #CBDAFF 0%, #6A83C1 100%);
    }

    .gren-bg{
        background: linear-gradient(180deg, #BAFFEC 0%, #6ABCA5 100%);
    }
}

.swiper-pagination-bullet-active {
    /*background-color: #6ABCA5 !important;*/
    --swiper-pagination-color:#6ABCA5;
}
/*--swiper-pagination-top:50px;*/

.videoSwiper{
    padding-bottom: 3rem !important;
}

.postText>h2{
    font-size: 20px;
    font-weight: bold;
}
.postText>section>h2{
    font-size: 20px;
    font-weight: bold;
}
ul>li{
    list-style: disc;
}
.postText>p{
    font-size: 15px;
    font-weight: normal;
}
html{
    scroll-behavior: smooth;
}
#form-file-upload {
    height: 4rem;
    width: 100%;
    max-width: 100%;
    text-align: center;
    position: relative;
}

#input-file-upload {
    display: none;
}

#label-file-upload {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F98577;background-color: transparent;
    border-radius: 0px;

}

#label-file-upload.drag-active {
    background-color: rgba(255,255,255,0.15);
    border-radius: 15px;
}

.upload-button {
    cursor: pointer;
    padding: 0.25rem;
    font-size: 1rem;
    border: none;
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
}

.upload-button:hover {
    text-decoration-line: underline;
}

#drag-file-element {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.myswiper>.swiper-pagination {
    --swiper-pagination-right: auto;
    --swiper-pagination-left: 0px;
}

.myswiper>.swiper-pagination>.swiper-pagination-bullet-active {
    --swiper-pagination-bullet-opacity:1;
    --swiper-pagination-color:#FEFEFE;
}
.myswiper>.swiper-pagination>.swiper-pagination-bullet {
    --swiper-pagination-bullet-inactive-opacity:0.5;
    --swiper-pagination-bullet-inactive-color:#FEFEFE;
    --swiper-pagination-bullet-vertical-gap:20px;
}


.mainswiper>.swiper-pagination {
    --swiper-pagination-right: auto;
    --swiper-pagination-left: 40px;
    --swiper-pagination-bottom:40px;
}

.mainswiper>.swiper-pagination>.swiper-pagination-bullet-active {
    --swiper-pagination-bullet-opacity:1;
    --swiper-pagination-color:#FEFEFE;
}
.mainswiper>.swiper-pagination>.swiper-pagination-bullet {
    --swiper-pagination-bullet-inactive-opacity:0.5;
    --swiper-pagination-bullet-inactive-color:#FEFEFE;
    --swiper-pagination-bullet-vertical-gap:20px;
}

.green-gradient{
    background:linear-gradient(105deg, #085751 4%, #68C3BD 100%);
}
